:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-cyan-light: hsl(179, 47%, 51%);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);

  --fs-size-standard: 62.5%;

  --font-family: 'Karla', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--fs-size-standard);
}

body {
  box-sizing: border-box;
  background: #d7e1e7;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  height: 100vh;
  max-width: 110rem;
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

article {
  overflow: hidden;
  border-radius: 0.5rem;
  width: 50rem;
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem var(--color-grayish-blue);
}

article section {
  padding: 2.5rem;
}

.section-1 {
  background: #fff;
}

.section-1 h2 {
  color: var(--color-cyan);
}

.section-1 h3 {
  color: var(--color-bright-yellow);
  margin: 1.8rem 0;
}

.section-1 p {
  color: var(--color-grayish-blue);
  line-height: 2.5rem;
}

.section-2 {
  background: var(--color-cyan);
  color: var(--color-light-gray);
}

.highlight-1 {
  color: #e5eff573;
  margin: 1.2rem 0 0.5rem;

  display: flex;
  align-items: center;
}

.highlight-2 {
  font-size: 2.8rem;
  font-weight: var(--fw-bold);
  margin-right: 1.3rem;
  color: var(--color-light-gray);
}

.btn-highlight {
  text-align: center;
  font-weight: var(--fw-bold);
  background: var(--color-bright-yellow);
  color: inherit;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  transition: background 0.3s ease-in;
}

.btn-highlight:hover {
  background: #cee660;
}

.section-3 {
  background: var(--color-cyan-light);
  color: var(--color-light-gray);
}

.section-3 h2 {
  margin-bottom: 2rem;
  font-weight: var(--fw-bold);
}

.section-3 ul li {
  font-weight: var(--fw-regular);
  font-size: 1.3rem;
  line-height: 1.8rem;
}

@media (min-width: 768px) {
  :root {
    --fs-size-standard: 72.5%;
  }

  article {
    width: 65rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  article section {
    padding: 4rem;
  }

  .section-1 {
    grid-row: 1 / 2;
    grid-column: 1 /3;
  }

  .section-1 h3 {
    margin: 2rem 0 0.8rem;
  }

  .section-1 p {
    max-width: 47rem;
    line-height: 2rem;
  }

  .section-2 {
    grid-row: 2 / 2;
  }
  .section-3 {
    grid-row: 2 / 2;
  }
}
